<div class="container" style="margin-bottom: 100px;">
    <app-menu></app-menu>
</div>
<div class="container">
    <div id="encabezado">
        <h3>Nuevo Proyecto</h3>
    </div>
    <div class="container" id="Formulario">
        <form [formGroup]="projectForm" (ngSubmit)="submitForm()">
            <div class="mb-3">
                <label for="Nombre_Proyecto" class="form-label">Nombre del Proyecto</label>
                <input type="text" class="form-control" id="Nombre_Proyecto" formControlName="Nombre_Proyecto" placeholder="Nombre del Proyecto Completo">
            </div>
            <div class="mb-3">
                <label for="Nombre_Proyecto_Acronimo" class="form-label">Nombre Proyecto Acronimo</label>
                <input type="text" class="form-control" id="Nombre_Proyecto_Acronimo" formControlName="Nombre_Proyecto_Acronimo" placeholder="Nombre Corto del proyecto">
                <small class="form-text text-muted" *ngIf="projectForm.get('Nombre_Proyecto_Acronimo')?.errors?.['pattern'] || projectForm.get('Nombre_Proyecto_Acronimo')?.errors?.['minlength'] || projectForm.get('Nombre_Proyecto_Acronimo')?.errors?.['maxlength']">
                    <span *ngIf="projectForm.get('Nombre_Proyecto_Acronimo')?.errors?.['pattern']">El nombre corto solo puede tener letras y numeros</span>
                    <span *ngIf="projectForm.get('Nombre_Proyecto_Acronimo')?.errors?.['minlength'] || projectForm.get('Nombre_Proyecto_Acronimo')?.errors?.['maxlength']">El nombre corto debe tener entre 4 y 8 caracteres.</span>
                  </small>
            </div>
            <div class="mb-3">
                <label for="Nombre_Usuario_Cygnus" class="form-label">Nombre Usuario Cygnus</label>
                <input type="text" class="form-control" id="Nombre_Usuario_Cygnus" formControlName="Nombre_Usuario_Cygnus" placeholder="Usuario">
                <small class="form-text text-muted" *ngIf="projectForm.get('Nombre_Usuario_Cygnus')?.errors?.['pattern'] || projectForm.get('Nombre_Usuario_Cygnus')?.errors?.['minlength'] || projectForm.get('Nombre_Usuario_Cygnus')?.errors?.['maxlength']">
                    <span *ngIf="projectForm.get('Nombre_Usuario_Cygnus')?.errors?.['pattern']"> El nombre de usuario en Cygnus no debe de llevar numero ni caracteres especiales</span>
                    <span *ngIf="projectForm.get('Nombre_Usuario_Cygnus')?.errors?.['minlength'] || projectForm.get('Nombre_Usuario_Cygnus')?.errors?.['maxlength']"> La contraseña debe tener entre 4 y 10 caracteres. </span>
                  </small>
            </div>
            <div class="mb-3">
                <label for="Rol_Proyecto" class="form-label">Tipo de Proyecto</label>
                <select class="form-select" id="Rol_Proyecto" formControlName="Rol_Proyecto" aria-label="Seleccione el tipo de proyecto" multiple>
                    <option *ngFor="let rol of Rol_Proyecto; let i=index" [value]="i + 1">{{ rol }}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="Nombre_Lider_Proyecto" class="form-label">Nombre Lider del proyecto</label>
                <input type="text" class="form-control" id="Nombre_Lider_Proyecto" formControlName="Nombre_Lider_Proyecto" placeholder="Nombre lider proyecto">
            </div>
            <div class="mb-3">
                <label for="Telefono_Lider_Proyecto" class="form-label">Numero Lider del proyecto</label>
                <input type="number" class="form-control" id="Telefono_Lider_Proyecto" formControlName="Telefono_Lider_Proyecto" placeholder="1234568">
            </div>
      
            <div class="mb-3">
                <label for="Correo_Institucional_Lider" class="form-label">Correo líder del proyecto</label>
                <input type="email" class="form-control" id="Correo_Institucional_Lider" formControlName="Correo_Institucional_Lider" placeholder="nombre@uniajc.edu.co" [class.is-invalid]="projectForm.get('Correo_Institucional_Lider')?.invalid && projectForm.get('Correo_Institucional_Lider')?.touched">
                <div class="invalid-feedback" *ngIf="projectForm.get('Correo_Institucional_Lider')?.invalid && projectForm.get('Correo_Institucional_Lider')?.touched">
                    El correo electrónico no es válido.
                </div>
            </div>
            <div class="mb-3">
                <label for="Cargo_Institucional_Lider" class="form-label">Cargo Institucional del lider</label>
                <select class="form-select" id="Cargo_Institucional_Lider" formControlName="Cargo_Institucional_Lider" aria-label="Seleccione el cargo institucional" multiple>
                    <option *ngFor="let cargo of Cargo_Institucional_Lider; let i=index" [value]="i + 1">{{ cargo }}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="Programa_Academico_Proyecto" class="form-label">Programa Academico perteneciente</label>
                <select class="form-select" id="Programa_Academico_Proyecto" formControlName="Programa_Academico_Proyecto" aria-label="Seleccione el programa academico" multiple>
                    <option *ngFor="let programa of Programa_Academico_Proyecto; let i=index" [value]="i + 1">{{ programa }}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="Semillero_Lider" class="form-label">Semillero lider proyecto</label>
                <input type="text" class="form-control" id="Semillero_Lider" formControlName="Semillero_Lider" placeholder="Semillero">
            </div>
            <div class="mb-3">
                <label for="Grupo_Investigacion" class="form-label">Grupo de investigacion lider proyecto</label>
                <input type="text" class="form-control" id="Grupo_Investigacion" formControlName="Grupo_Investigacion" placeholder="Grupo">
            </div>
        
            <button type="submit" class="btn btn-primary">Enviar</button>
    
        </form>
    </div>
</div>
