/* Configuración del contenedor de las tarjetas en 2x2 */
.section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 10px; /* Espacio entre tarjetas */
}

/* Estilos para las tarjetas */
.card {
  width: auto; /* Ajustar al contenido */
  max-width: 30rem; /* Ancho máximo si se necesita */
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 10px;
  background-color: #435C73; /* Color de fondo para las tarjetas */
  color: #fff; /* Color de texto para el contenido */
}

/* Efecto hover para las tarjetas */
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #2C4A61; /* Color ligeramente más oscuro para el hover */
}

/* Estilos para los botones */
.btn {
  background-color: #1EB7D9; /* Color de fondo del botón */
  border: none; /* Eliminar borde predeterminado */
  color: #fff; /* Color del texto */
}

/* Efecto hover para los botones */
.btn:hover {
  background-color: #F29A2E; /* Color de fondo del botón al pasar el puntero */
}

/* Tooltip */
.mat-tooltip {
  font-size: 14px;
  max-width: 200px;
}