/* Contenedor principal */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9; /* Fondo claro para destacar el contenido */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilos para la tabla de usuarios */
.table {
  width: 100%;
  border-collapse: separate; /* Separar los bordes para un mejor diseño */
  border-spacing: 0; /* Remover el espacio entre celdas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para la tabla */
  border-radius: 10px;
  overflow: hidden;
}

/* Encabezados de la tabla */
.table th {
  background-color: #007bff; /* Fondo azul para encabezados */
  color: #fff; /* Texto blanco */
  padding: 12px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

/* Celdas de la tabla */
.table td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-size: 14px;
}

/* Fila impar */
.table tr:nth-child(odd) td {
  background-color: #f9f9f9; /* Fondo gris claro para filas impares */
}

/* Fila par */
.table tr:nth-child(even) td {
  background-color: #ffffff; /* Fondo blanco para filas pares */
}

/* Estilo para la fila de estado vacío */
.table td[colspan="3"] {
  text-align: center;
  font-style: italic;
  color: #888;
}

/* Estilos para el botón de búsqueda */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Cambia el color al pasar el ratón */
.btn-primary:hover {
  background-color: #0056b3;
}

/* Margen y alineación del botón */
.example-button-row {
  margin-top: 20px;
  text-align: center;
}

/* Ajuste del título */
h2 {
  margin-bottom: 20px;
  color: #333; /* Color más oscuro para el texto */
}

/* Margen para el menú */
.Div-menu {
  margin-bottom: 60px;
}
