<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-md-6">
        <div class="text-center mb-4">
          <h1>DockerWizard</h1>
          <h4>Renovar Contraseña</h4>
        </div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="newPassword">Nueva Contraseña</label>
            <input type="password" id="newPassword" class="form-control" formControlName="newPassword" minlength="4" maxlength="8">
            <small class="form-text text-muted" *ngIf="resetPasswordForm.controls['newPassword'].errors?.['required'] && resetPasswordForm.controls['newPassword'].touched">
              La contraseña es requerida.
            </small>
            <small class="form-text text-muted" *ngIf="resetPasswordForm.controls['newPassword'].errors?.['minlength']">
              La contraseña debe tener al menos 4 caracteres.
            </small>
            <small class="form-text text-muted" *ngIf="resetPasswordForm.controls['newPassword'].errors?.['maxlength']">
              La contraseña no puede tener más de 8 caracteres.
            </small>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirmar Contraseña</label>
            <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword">
            <small class="form-text text-muted" *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['required'] && resetPasswordForm.controls['confirmPassword'].touched">
              Confirmar contraseña es requerido.
            </small>
            <small class="form-text text-muted" *ngIf="resetPasswordForm.hasError('mismatch') && resetPasswordForm.controls['confirmPassword'].touched">
              Las contraseñas no coinciden.
            </small>
          </div>
          <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.valid">Renovar Contraseña</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  