<div class="container">
  <div class="container" style="margin-bottom: 100px;">
    <app-menu-auto-docker></app-menu-auto-docker>
  </div>
  <div class="container text-center">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Recuerda Realizar Copias de Seguridad</h5>
        <p class="card-text">Realiza copias de seguridad constantemente para evitar fallos en el servicio principal.</p>
      </div>
    </div>
    <div class="example-button-row">
      <button class="btn btn-primary mt-2" (click)="BackUp()">
        Realizar BackUp
      </button>
    </div>
  </div>
</div>