<div class="container" style="margin-bottom: 100px;">  
    <app-menu-admin-cygnus></app-menu-admin-cygnus>
</div>
<div  class="container">
    <table class="table">

     
  <thead>

    <tr>
      <th>PID</th>
      <th>Nombre</th>
      <th>Usuario</th>
      <th>CPU (%)</th>
      <th>Memoria (%)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let process of process">
      <td>{{ process.pid }}</td>
      <td>{{ process.name }}</td>
      <td>{{ process.user }}</td>
      <td>{{ process.cpu }}</td>
      <td>{{ process.memory }}</td>
    </tr>
    <tr *ngIf="process.length === 0">
      <td colspan="6" class="text-center">No se han listado los procesos.</td>
    </tr>
  </tbody>
</table>

</div>

<div class="container text-center">
    <div class="example-button-row">
      
      <button class="btn btn-primary mt-2" (click)="Consultar()">
       Consultar
      </button>
    </div>
  </div>
  