<div class="container" style="margin-bottom: 100px;">  
    <app-menu-admin-cygnus></app-menu-admin-cygnus>
</div>
<div class="container">
    <h1>Restablecer Contraseña usuario Cygnus</h1>
    <form [formGroup]="UserCygnusForm" (ngSubmit)="ReserPassword()">
        <div>
            <label for="Nombre_Usuario_Cygnus">Nombre de Usuario Cygnus</label>
            <input type="text" formControlName="Nombre_Usuario_Cygnus" placeholder="Usuario">
            <small class="form-text text-muted" *ngIf="UserCygnusForm.get('Nombre_Usuario_Cygnus')?.errors?.['pattern']">
                <span *ngIf="UserCygnusForm.get('Nombre_Usuario_Cygnus')?.errors?.['pattern']">El nombre de Usuario solo puede contener letras y números.</span>      
              </small>
          </div>
          <div>
          <label for="Password_Usuario">Contraseña</label>
          <input type="password" formControlName="Password_Usuario" placeholder="Contraseña" minlength="4"> 
          <small class="form-text text-muted" *ngIf="UserCygnusForm.get('Password_Usuario')?.errors?.['pattern'] || UserCygnusForm.get('Password_Usuario')?.errors?.['minlength']">
            <span *ngIf="UserCygnusForm.get('Password_Usuario')?.errors?.['pattern']">La contraseña solo puede contener letras y números.</span>
            <span *ngIf="UserCygnusForm.get('Password_Usuario')?.errors?.['minlength'] || UserCygnusForm.get('Password_Usuario')?.errors?.['maxlength']">La contraseña debe tener como minimo 4.</span>
          </small>
        </div>
        <div>
          <label for="Confirmar_Password_Usuario">Confirmar Contraseña</label>
          <input type="password" formControlName="Confirmar_Password_Usuario" placeholder="Contraseña"  minlength="4">
          <small class="form-text text-muted" *ngIf="UserCygnusForm.get('Confirmar_Password_Usuario')?.errors?.['pattern'] || UserCygnusForm.get('Confirmar_Password_Usuario')?.errors?.['minlength'] ">
            <span *ngIf="UserCygnusForm.get('Confirmar_Password_Usuario')?.errors?.['pattern']">La contraseña solo puede contener letras y números.</span>
            <span *ngIf="UserCygnusForm.get('Confirmar_Password_Usuario')?.errors?.['minlength'] || UserCygnusForm.get('Confirmar_Password_Usuario')?.errors?.['maxlength']">La contraseña debe tener como minimo 4</span>
          </small>
        </div>
        <button type="submit"  >Actualizar Contraseña</button>
      </form>
  </div>

  