<div class="container" style="margin-bottom: 100px;">  
    <app-menu-admin-cygnus></app-menu-admin-cygnus>
</div>
<div class="container">
    <h1>Restablecer Contraseña usuario Cygnus</h1>
    <form [formGroup]="UserCygnusForm" (ngSubmit)="ReserPassword()">
      <div>
        <label for="Nombre_Usuario_Cygnus">Nombre de Usuario Cygnus</label>
        <input 
          type="text" 
          formControlName="Nombre_Usuario_Cygnus" 
          placeholder="Usuario" 
          maxlength="20" 
          (input)="filterInput($event)" 
        >
        <small class="form-text text-muted" *ngIf="UserCygnusForm.get('Nombre_Usuario_Cygnus')?.errors">
          <span *ngIf="UserCygnusForm.get('Nombre_Usuario_Cygnus')?.errors?.['pattern']">El nombre de usuario solo puede contener letras y números.</span>
        </small>
      </div>
          <div>
            <label for="Password_Usuario">Contraseña</label>
            <input 
              type="password" 
              formControlName="Password_Usuario" 
              placeholder="Contraseña" 
              maxlength="8" 
              (input)="filterInput($event)" 
            >
            <small class="form-text text-muted" *ngIf="UserCygnusForm.get('Password_Usuario')?.errors">
              <span *ngIf="UserCygnusForm.get('Password_Usuario')?.errors?.['pattern']">La contraseña solo puede contener letras y números, y debe tener entre 4 y 8 caracteres.</span>
            </small>
          </div>
          
          <div>
            <label for="Confirmar_Password_Usuario">Confirmar Contraseña</label>
            <input 
              type="password" 
              formControlName="Confirmar_Password_Usuario" 
              placeholder="Contraseña" 
              maxlength="8" 
              (input)="filterInput($event)" 
            >
            <small class="form-text text-muted" *ngIf="UserCygnusForm.get('Confirmar_Password_Usuario')?.errors">
              <span *ngIf="UserCygnusForm.get('Confirmar_Password_Usuario')?.errors?.['pattern']">La contraseña solo puede contener letras y números, y debe tener entre 4 y 8 caracteres.</span>
              <span *ngIf="UserCygnusForm.hasError('notSame')">Las contraseñas no coinciden.</span>
            </small>
          </div>
        <button type="submit"  >Actualizar Contraseña</button>
      </form>
  </div>

  