<div class="container">
        <div class="container" style="margin-bottom: 100px;">
            <app-menu></app-menu>
        </div>
        <div class="container">
          <div class="section-container">
            <div class="card" id="con">
              <div class="card-body">
                <h5 class="card-title">Registrar Usuario</h5>
                <p class="card-text">Registrar un nuevo Usuario en DockerWizard.</p>
                <a (click)="RegistroUsuario()" class="btn btn-primary">Continuar</a>
              </div>
            </div>
            <div class="card" id="con">
              <div class="card-body">
                <h5 class="card-title">Activar Usuario</h5>
                <p class="card-text">Activar o Desactivar Un usuario en DockerWizard.</p>
                <a (click)="ActivarUsuario()" class="btn btn-primary">Continuar</a>
              </div>
            </div>
            <div class="card" id="con">
              <div class="card-body">
                <h5 class="card-title">Restablecer Contraseña de un Usuario</h5>
                <p class="card-text">Restablecer la contraseña a algun usuario.</p>
                <a (click)="ResetPassword()" class="btn btn-primary">Continuar</a>
              </div>
            </div>
            <div class="card" id="con">
              <div class="card-body">
                <h5 class="card-title">Registrar Proyecto</h5>
                <p class="card-text">Registrar un nuevo Proyecto en DockerWizard.</p>
                <a (click)="RegistroProyecto()" class="btn btn-primary">Continuar</a>
              </div>
            </div>
            <div class="card" id="con">
              <div class="card-body">
                <h5 class="card-title">Buscar Proyecto</h5>
                <p class="card-text">Buscar Proyectos registrados en DockerWizard.</p>
                <a href="#" class="btn btn-primary">Continuar</a>
              </div>
            </div>
          </div>
        </div>
      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>
  </div>