<div class="container" style="margin-bottom: 100px;">  
    <app-menu-admin-cygnus></app-menu-admin-cygnus>
</div>
<div  class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Usuario</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usersCygnus of users  ">
      <td>{{ usersCygnus }}</td>
    </tr>
    <tr *ngIf="users.length === 0">
      <td colspan="1" class="text-center">No se encontraron usuarios.</td>
    </tr>
  </tbody>
</table>

</div>

<div class="container text-center">
    <div class="example-button-row">
      
      <button class="btn btn-primary mt-2" (click)="Consultar()">
        Cambiar Estado
      </button>
    </div>
  </div>
  